/*Maak hier jouw CSS!*/

.grid-opdracht {
    display: grid;
    column-gap: 16px ;
    row-gap: 16px;
    grid-template-columns: 1fr ;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px  ;
    background-color: #FFEFDB;
    padding: 16px;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "."
        "f";
}


@media screen and (min-width: 576px){
    .grid-opdracht {
        display: grid;
        column-gap: 16px ;
        row-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px auto 100px auto 50px  ;
        background-color: #FFEFDB;
        padding: 16px;
        grid-template-areas:
        "a c c"
        "b c c"
        "b e d"
        "b e ."
        "f f f";

    }

}

.grid-item{
    column-gap: 16px ;
    row-gap: 16px;
    background-color: #FFEFDB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#a {
    grid-area: a;
    background-color: #BA3B44;
}
#b{
    grid-area: b;
    background-color: #BA3B44;
}
#c{
    grid-area: c;
    background-color: #BA3B44;
}
#d{
    grid-area: d;
    background-color: #BA3B44;
}
#e {
    grid-area: e;
    background-color: #BA3B44;

}
#f{
    grid-area: f;
    background-color: #BA3B44;
}